.tile{
    width: 30vw;
    transition: transform .2s;
    cursor: pointer;
    transition: transform .2s;
    z-index:10;
}
.tile:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.imageButton{
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }
.imageButton:hover .overlay{
    display: block;
    background: rgba(0,0,0,0.3);
}
.addToCart{
    border-radius: 50%;
    position: absolute;
    background-color: black;
    top: 10vh;
    left: 45%;
    opacity: 0;
    transition: opacity .35s ease;
}
.addButton{
    z-index:1;
    border-radius: 50%;
    border: 2px solid white;
}
.addButton:hover{
    background-color: black;
    color: white;
}
.addButton:active{
    background-color: rgb(66, 66, 66);
}
.imageButton:hover  .addToCart{
    opacity: 1;
}
@media only screen and (min-width:1440px) {
    .addToCart{
        border-radius: 50%;
        position: absolute;
        background-color: black;
        top: 40%;
        opacity: 0;
        transition: opacity .35s ease;
    }
}
@media only screen and (max-width:767px) {
    .tile{
        width: 41vw;
        padding-left: 0.1em;
        text-align: center;
        align-items: center;
        padding-right: 0em;
    }
    .tileItemName{
        font-size: 0.8em;
    }
    .tile div{
        padding: 0;
    }
    .addToCart{
        border-radius: 50%;
        position: absolute;
        background-color: black;
        top: 40%;
        left: 35%;
        opacity: 0;
        transition: opacity .35s ease;
    }
    
}
@media only screen and (max-width:767px){
    .addToCart{
        display: block;
        opacity: 1;
        position: relative;
        width: 2em;
        top:-10vh;
        left:40%;
    }
    .addButton:hover{
        background-color: black;
        color: white;
    }
    .addButton:active{
        background-color: rgb(66, 66, 66);
    }
    .overlay{
        display: none;
    }
}
